body{
    padding: 0px

}
.headbox{
	display:block;
	padding: 5px;
    background-color: #7bf97b;
}
.headbox h1{
	font-size: 20px;
	color: gray;
	font-family: Segoe UI;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container_head{
    text-align: center;
    padding: 5px;
}

h1{
    width : 200px;
}

.hide_mobile{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
}