body{
padding:0px;
}
.headbox{
	display:block;
	padding: 5px;
	background-color: #7bf97b;
}
.headbox h1{
	font-size: 50px;
	color: gray;
	font-family: Segoe UI;
}

.loginbox{
	padding:80px;
	width: 357px;
	height: 527px;
	color:black;
	background-color: white;
	top: 75%;
	left: 50%;
	border: 2px solid #7bf97b;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 5%;
	}
	.loginbox2{
		width: 359px;
		height: 529px;
		background-color: white;
		top: 75%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		border: 2px solid #7bf97b;
		border-radius: 5%;
	}
.avatar{
	background-color: rgb(255, 255, 255);
    border: 2px solid #7bf97b;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	left: 257px;
	position: absolute;
	top: -10%;
	left: calc(50% - 50px)


}
.values{
	padding: 1px 10px;
	text-decoration:'none';
	border-radius: 10px;
	height:30px;
	width:100%;
	box-shadow: none;
	border:0.5px solid gray;
}
.fields_container{
	align-self: center;
}
.to_login{
	font-size: 12px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
	display: block;
	border-radius:20px;
	margin-top: 20px;
	width:100%;
	text-align: center;
	align-self: center;
	padding:10px;
	border:none;
	background-color: rgba(0,255,0, 0.5);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 2px solid #7bf97b
}
.button:hover{
background: #FFFFFF;
color: #7bf97b;
box-shadow: 0px 0px 10px #333333; 
}