<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
    <nav>
        <a href="log-in.html">back</a>
        <div>
            <div class="container_head">
                <div class="headbox">
                <h1>SUFU</h1>
               <nav>
                    <ul class="show_desktop hide_mobile" id="nav">
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#">Activity</a></li>
                        <li> <a href="#">Result</a></li>
                        <li> <a href="#">Attendence</a></li>                                                               
                    </ul>
                </nav>        
                </div>
            </div>
        </div>
    </nav>
</header>
<centre>
    <div class="container_middle">
        <div class="content_card">
            <div class="content_card_head">
                <a href="#">The name of school</a>
                <p>activity name or winners</p>
            </div>
            <div class="content_card_center">
                <img src="/Assets/family.jpeg2.jpeg" alt="the name of school">
            </div>
            <div class="content_card_footer">
                <img src="#" alt="blessing or like or love">
                <img src="#" alt="share">
            </div>
        </div>

    </div>
</centre>
</body>
</html>