<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SUFU</title>
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="container">
        <div class="headbox">
            <h1>Welcome to SUFU</h1>
        </div>

        <div class="loginbox2"></div>
        <div class="loginbox">
            <form>
                <img src="../Assets/user.svg" class="avatar">

                <div class="fields_container">
                    <p>User Name</p>
                    <input 
                        class="values" 
                        type="text" 
                        id="userName" 
                        name="Username" 
                        placeholder="Enter Username" />
                    <p>Email Id</p>
                    <input 
                        class="values" 
                        type="email" 
                        id="email" 
                        name="firstname" 
                        placeholder="Enter Your Email" />
                    <p>Password</p>
                    <input 
                        class="values" 
                        type="password" 
                        id="password" 
                        name="Password" 
                        placeholder="Enter Password" />
                    <p>Confirm Password</p>
                    <input 
                        class="values" 
                        type="password" 
                        id="confirm" 
                        name="Confirm_Password"
                        placeholder="Confirm your Password" />

                    <button class="button" id="submmit">Sign-Up</button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>