<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SUFU</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">

</head>

<body>
    <div class="container">
        <div class="headbox">
            <h1>Welcome Back to SUFU</h1>
        </div>

        <div class="loginbox2"></div>
        <div class="loginbox">
            <form>
                <img src="../Assets/LOGO.svg" class="avatar">

                    <p>Email Id</p>
                    <input 
                        class="values" 
                        type="email" 
                        id="email" 
                        name="firstname" 
                        placeholder="Enter Your Email" />
                    <p>Password</p>
                    <input 
                        class="values" 
                        type="password" 
                        id="password" 
                        name="Password" 
                        placeholder="Enter Password" />
                    <a href="forget_passwrd.html" class="forget_password"> forget Password...</a>                  
                    
                    <a href="home.html" class="button">Log-In</a>
                        
                    <br>
                    <div class="to_signup">Don't have an account
                        <a href="index.html">Click here!</a>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>

</html>